html,
body,
.root {
  min-height: 100%;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: white;
}

/* main page */

.list-books-title {
  padding: 10px 0;
  background: #2e7c31;
  text-align: center;
}
.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: white;
}

.list-books-content {
  padding: 0 0 80px;
  flex: 1;
}

.bookshelf {
  padding: 0 10px 20px;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}

.bookshelf-title {
  border-bottom: 1px solid #dedede;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  background-image: url('../icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: 0;
}

/* search page */

.search-books-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
}
.search-books-input-wrapper {
  flex: 1;
  background: #e9e;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.close-search,
.close-about {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.search-books-results {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}

.book {
  width: 140px;
}
.book-title,
.book-authors {
  font-size: 0.8em;
}
.book-title {
  margin-top: 10px;
}
.book-authors {
  color: #999;
}

.book-top {
  position: relative;
  height: 200px;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 20px;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url('../icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

/* book cover */

.book-cover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background: #eee;
}
.book-cover-title {
  padding: 20px 10px 0;
  text-align: center;
  font-size: 0.8em;
}

/* about button */
.about {
  position: relative;
  left: -45%;
  top: 5%;
  background-color: #60ac5d;
  font-weight: bold;
  border-radius: 100%;
  padding: 0.45rem 0.9rem;
}

.about a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

/* about page */
.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.container .about-div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin-bottom: 5rem;
}

.container .book-title-div {
  width: 100%;
  padding-left: 5rem;
  margin: 2rem 0rem 15vh 0rem;
}

.container .book-title-div .close-about {
  border: 1px solid black;
  border-radius: 100%;
  width: 53px;
  margin-bottom: 3rem;
}

.container .book-title-div h1 {
  width: fit-content;
  border-bottom: 1px solid black;
}

.container .about-div .about-cover img {
  width: 10rem;
}

.container .about-div .about-details {
  border: 1px solid #2e7d32;
  border-radius: 1rem;
  width: 70%;
  padding-left: 2rem;
}

.container .about-div .about-details .info {
  margin: 1rem 2rem 1rem 0rem;
}

.container .about-div .about-details .info .title {
  font-weight: bold;
  color: gray;
  margin-right: 2rem;
}

.container .about-div .about-details .info .data {
  color: #2e7d32;
}

/* login div */
.login-div {
  margin-top: 25vh;
}

.login-div div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.login-div div p {
  font-size: 2.8rem;
}

.login-div div p span {
  color: #2e7d32;
  font-weight: bold;
}

.login-div div a button {
  cursor: pointer;
  background-color: #2e7d32;
  border: 1px solid #2e7d32;
  border-radius: 1rem;
  padding: 1.3rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.login-div div a button:hover {
  color: #2e7d32;
  background-color: white;
}

/* logout */
.logout {
  position: fixed;
  right: 100px;
  bottom: 25px;
}

.logout a {
  fill: currentColor;
  color: white;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2e7d32;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.logout a svg {
  width: 1.5rem;
  position: relative;
  top: 25%;
  left: 28%;
}

/* form */

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.form h1 span {
  color: #2e7d32;
  font-weight: bold;
}

.form form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
  border: 3px solid #2e7d32;
  border-radius: 4rem 1rem 4rem 1rem;
  padding: 2rem 4rem;
}

.form form button {
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #2e7d32;
  border: 1px solid #2e7d32;
  border-radius: 2rem;
  padding: 0.7rem 2rem;
  margin-top: 0.5rem;
}

.form form button:hover {
  color: #2e7d32;
  background-color: white;
}

.form form input {
  margin: 0.6rem 0rem 1.3rem 0rem;
  width: 12rem;
}

.form form p {
  font-size: 0.9rem;
  text-align: center;
  color: red;
}

.form .no {
  font-size: 1.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.form .no .action {
  color: #2e7d32;
}

.form .no button {
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #2e7d32;
  border: 1px solid #2e7d32;
  border-radius: 2rem;
  padding: 0.7rem 3rem;
  margin-left: 2rem;
}

.form .no button:hover {
  color: #2e7d32;
  background-color: white;
}

/* mobile screens */
/* mobile screens */
@media only screen and (min-width: 300px) and (max-width: 450px) and (max-height: 900px) {
  .login-div div p {
    font-size: 1.5rem;
  }
  .login-div div a button {
    padding: 0.9rem;
    font-size: 0.85rem;
  }
  .form h1 {
    font-size: 1.3rem;
    margin: 2rem 1rem 2rem 1rem;
  }
  .container .about-div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 6rem;
  }
  .container .book-title-div {
    width: 100%;
    padding-left: 2rem;
    margin: 2rem 0rem 3rem 0rem;
  }
  .container .book-title-div h1 {
    font-size: 1.5rem;
    margin-right: 2rem;
  }
  .container .about-div .about-details {
    margin-top: 2rem;
    width: 90%;
    padding-left: 1.5rem;
  }
  .container .about-div .about-details .info {
    margin: 1rem 1rem 1rem 0rem;
  }
  .container .about-div .about-details .info .title {
    margin-right: 0.8rem;
  }
}
/* flipped mobile screens */
@media only screen and (min-width: 41.25rem) and (max-width: 56.25rem) and (max-height: 26.25rem) {
  .login-div div p {
    font-size: 1.5rem;
  }
  .login-div div a button {
    padding: 0.9rem;
    font-size: 0.85rem;
  }
  .form h1 {
    font-size: 1.5rem;
  }
  .container .about-div {
    width: 90%;
  }
  .container .book-title-div h1 {
    font-size: 1.5rem;
    margin-right: 4.5rem;
  }
}